$option-color : #ffcccc;
@mixin transform($duration) {
  -webkit-transform: translate3d($duration,0,0);
  -moz-transform: translate3d($duration,0,0);
  -ms-transform: translate3d($duration,0,0);
   transform: translate3d($duration,0,0);
}
@mixin transition($transition) {
  -webkit-transition:$transition;
  -moz-transition:$transition;
  -o-transition:$transition;
  transition:$transition;
}

@mixin calc($expression) {
  width: -moz-calc(#{$expression});
  width: -webkit-calc(#{$expression});
  width: calc(#{$expression});
}
.list {
  //margin: auto;
  padding: 16px 35px;
  text-transform: capitalize;
  //min-width: 50px;

  .under {
    border-bottom: 1px solid black;
    display: inline-block;
  }

  .is-disabled {
    opacity: .5;
    pointer-events: none;
  }

  .action {
    padding: 0 5px;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }
  .optionItem {
    padding: 16px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
  }
  .food {
    .itemName {
      display: inline-block;
      width: 100%;
      @include calc('100% - 75px')
    }
    .right {
      float: right;
      position: relative;
      width: 65px;

      }


      &.shift {
          .itemName {
            @include calc('100% - 100px')
          }

          div.hideit {
            @include transform(-20px) ;
            @include transition(all linear 0.2s);

          }
      }



  }
  .itemCount {
    display: inline-block;
    width: 50px;
    padding: 14px;
    position: absolute;
    right:0;
    top: 0;
    bottom: 0px;
        .countButton {
          width: 25px;
          height: 25px;
          margin-left: 10px;
          text-align: center;
          border-radius: 50%;
          background: $option-color;
          @include transition(all linear 0.2s);
          line-height: 1.5;
        }

        &.ng-hide {
          //right: -100%;
          @include transform(20px);
          @include transition(all linear 0.2s);
        }
        &.shift {
          @include transform(-20px) ;
          @include transition(all linear 0.2s);
        }
  }

  .left {
    float: left;
  }
  .bold{
    font-weight: bold;
  }
}

button.checkbutton {
  background: none;
  border: none;
}

.warning {
  color: red;
  margin: 5px 0;
  padding: 0 10px;
}

.menuHeader {
  background: $option-color;
  .center {
    margin: auto;
  }
}
